body {
    min-height: 100vh;
    background-color: #F8F8FF;
    color: darkslategray;
    font-family: 'Oswald', sans-serif;
}

section{
    padding: 15px;
    margin: 15px;
}

h1,h2,h3{
    font-size: large;
    font-weight: 1024px;
    color:#483D8B
}



li.skill-list {
    display: inline;
    border: #483D8B;
    border: size 10px;
    padding: 10px;
    margin: 10px;
    border-style:dashed;
  
}

label{
    font-size: medium;
    color: darkslategray;
    padding: 5px;
    margin: 5px;
    display: block;

}

input{
    font-size: medium;
    padding: 2px;
    margin: 2px;

}
textarea{
    width: 250px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

button{
    background-color:#483D8B;
    border-radius: var(--rounded);
    color:white;
    min-width: 100px;
    padding: 0.5rem 1rem;
    transition: opacity 0.2s ease-in-out;
}

.msg{
    width: 40%;
    height: 100px;
    padding: 10px;
    display: block;

}
span {
    padding: 15px;
}

img{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    resize: none;
}

footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
}

.flexbox-container-one {
    display: flex;
    flex-direction: column;
}

.flexbox-container-two {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

.flex-item-one {

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header{
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-evenly;
    
    z-index: 100;



}

.navbar a {
    font-size: 18px;
    color: #FF6347;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}

.nav-header {
    font-size: 32px;
    color:#FF6347;
    text-decoration: none;
    font-weight: 700;
    

}

@media screen and (max-width: 900px) {

  .flexbox-container-one {
  
    flex-direction: column;
}
 .header {
    display: inline;
    width: 25%;
    padding: 5px 25px;
    justify-content: left;
 }

 .navbar a {
    font-size: 15px;
    font-weight: 100;
    padding: 5px;
    margin: 5px;
    display: inline;
}

 li.skill-list {
    display: list-item;
    border: size 5px;
    padding: 5px;
    margin: 5px;
    border-style:dashed;
  
}
}